.button{
    max-width: 720px;
    height: 40px;
    background-color: var(--primary);
    border: 0;
    padding: 0.4rem;
    color: var(--secondary);
    border-radius: 1.5rem;

    &[disabled]{
        cursor: not-allowed;
        svg{
            animation: animate 2s infinite;
        }
    }

    &:hover{
        filter: brightness(1.08);
    }
}

.buttonText{
    color: var(--secondary);
    font-weight: bold;
}

@keyframes animate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}