.containerCenter{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--secondary-plus);
  }
  
  .login{
    margin-top: 2rem;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem 1.5rem;
  
    h1{
        color: var(--light);
        padding-bottom: 1rem;
    }
    form{
        width: 90%;
        display: flex;
        flex-direction: column;
    }
  
    form button{
        height: 40px;
        font-size: 1.2rem;
    }
  }
  
  .text{
    margin-top: 1rem;
    color: var(--secondary-minus);
    align-self: center;
    a{
        margin-left: 5px;
        color: var(--primary-minus);
        text-decoration: underline;
    }
  }
  
  @media (max-widt: 620px){
    .login{
        width: 90%;
    }
  }